.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    font-size: 2rem;
    margin-left: 2rem;
}

.Head-avatar {
    margin-right: 2rem;
}

.body-container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.body-container .nav-bar {
    min-width: 130px;
}

.body-container .content {
    flex: 1;
}