.App {
    /*text-align: center;*/
}

.App-header {
    background-color: #282c34;
    min-height: 1.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    font-size: 1.5rem;
    margin-left: 2rem;
}

.Head-avatar {
    margin-right: 2rem;
}

.body-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-bottom: 30px;
}

.body-container .nav-bar {
    min-width: 130px;
    border-right: 1px solid #eee;
}

.body-container .content {
    flex: 1;
    padding: 1rem;
}